@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");

:root {
  --font-heading--family: "Playfair Display", serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🟠 Custom Swiper Pagination Styles */
.swiper-pagination {
  margin-top: 25px !important; /* Adjust space above dots */
  position: relative !important;
}

.swiper-pagination-bullet {
  background: #00ced1 !important; /* orange color for dots */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #00ced1 !important; /* active dot color */
  opacity: 1;
  transform: scale(1.2); /* slightly larger active dot */
  transition: all 0.3s ease;
}
